<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class:"nav-link" %>
      </li><li class="nav-item active">
        <%= link_to 'Plans', plans_path, class:"nav-link" %>
      </li>
    
    </ul>
  
      <ul class= "nav navbar-right">
        <% if current_user %>
         <li class="nav-item dropdown">
         
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%= image_tag current_user.avatar, width: "40px", class: "rounded-circle" %> <%= (truncate(current_user.username, length: 25)).html_safe  %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to 'Logout', destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>
      </li>
          <% else %>
          <li class= "pull-right mr-2" ><%= link_to "Login", new_user_session_path, class: "btn btn-primary" %></li>
          <li class= "pull-right" ><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %></li>
        <% end %>
      </ul>
   
  </div>
</nav>